@font-face {
  font-family: "Boeing";
  src: url("boeing-cdu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App-wt737 div.screen {
    font-family: "Boeing", "Harlow Solid Italic", monospace;
    display: block;
    position: absolute;
    left: calc(160 * var(--app-x));
    width: calc(525 * var(--app-x));
    top: calc(90 * var(--app-y));
    height: calc(430 * var(--app-y));
}

.App-wt737 div.screen>.line {
    display: block;
    container-type: size;
    color: white;
    margin: 0px;
    padding: 0px;
    white-space: pre;
    position: relative;
}

.App-wt737 div.screen>.line {
    height:7.14%; /* 1/14 */
}

.App-wt737 span.fmc-row > span  {
    display:inline-block;
    width: 4.16%;   /* 1/24 */
}

.line-wt737 .d-text {
    font-size: 100cqh;
}

.line-wt737 .s-text  {
    font-size: 75cqh;
}
