    .screen {
      --mcduWhite: #ffffff;
      --mcduLightGrey: #666666;
      --mcduGrey: #787878;
      --mcduGreen: #00ff40;
      --mcduAmber: #ffd228;
      --mcduCyan: #00ffff;
      --mcduYellow: #fff201;
      --mcduRed: #ff0000;
      --mcduMagenta: #ff00ff;
      --mcduBlue: #4580a7;
      color: white;
    }


    .label {
      margin: 0;
      white-space: pre;
      position: relative;
    }


    .white {
      color: var(--mcduWhite);
    }

    .inop,
    .disabled {
      color: var(--mcduLightGrey);
    }

    .cyan {
      color: var(--mcduCyan);
    }

    .yellow {
      color: var(--mcduYellow);
    }

    .green {
      color: var(--mcduGreen);
    }

    .amber {
      color: var(--mcduAmber);
    }

    .red {
      color: var(--mcduRed);
    }

    .magenta {
      color: var(--mcduMagenta);
    }

    .blue {
      color: var(--mcduBlue);
    }