@font-face {
    font-family: "WT21 FMC";
    src: url("wt21-Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.App-wt21 div.screen>.line {
    display: block;
    container-type: size;
    color: white;
    margin: 0px;
    padding: 0px;
    white-space: pre;
    position: relative;
}

.App-wt21 div.screen .fmc-block {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}

.App-wt21 div.screen {
    font-family: "WT21 FMC", sans-serif;
    display: block;
    position: absolute;
}

.App-wt21 .line-left {
    position: absolute;
    left: 2%;
    width: 100%;
    text-align: left;
}

.App-wt21 .line-right {
    position: absolute;
    right: 2%;
    width: 100%;
    text-align: right;
}

.App-wt21 .line-center {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}


/* Allows us to transform just the character size,
so that we can invert correctly
 */
.App-wt21 div.screen>.line>.cell>span {
    display: inline-block;
    /* Need a little extra width to avoid vertical lines in reverse text */
    width: 105%;
}

.App-wt21 div.screen>.line>.cell.blackwhite>span {
    color: black;
    background-color: var(--mcduWhite);
}