.normal .App-cj4 {
  background-image: url("mcdu-cj4.png");
}

.normal .App-c90 {
  background-image: url("mcdu-c90.png");
}

.normal-cj4 {
  --aspect-ratio: calc(1400/1650);
  --top-padding: .06875;
  --screen-scale: .72;
}

.normal-c90 {
  --aspect-ratio: calc(1700/1800);
  --top-padding: .06875;
  --screen-scale: .72;
}